@font-face{
    font-family: "montserrat-semi";
    src: url(Montserrat-SemiBold.ttf);
}

body{
    font-family: "montserrat-semi";
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav{
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li{
    margin-right: 20px;
}

nav a{
    color: #333;
    text-decoration: none;
}

main{
    padding: 20px;
}
  
footer h2{
    text-align: center;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
}
